#chamada {
	background: linear-gradient(-45deg, #003D11, #005719, #0013BF, #0016D9, #3F0AC7, #480BE0, #B900D6, #D000F0);
	background-repeat: no-repeat;
	background-size: 150% 150%;
	animation-name: gradiente;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	/* animation-delay: 500ms; */
	/* animation-direction: alternate; */
}

@keyframes gradiente {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}

/* -------Versão Tablet------- */
@media screen and (min-width: 768px){
	#chamada{
		background-size: 700% 700%;
	}
}


#destaques {
	animation-name: alternar__cor--destaques;
	animation-duration: 5s;
	animation-timing-function: linear;
	/* animation-delay: 500ms; */
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes alternar__cor--destaques {
	0% {background-color: #22004D;}

	50% {background-color: #390080;}

	100% {background-color: #5000B3;}
}

#diferenciais {
	animation-name: alternar__cor--diferenciais;
	animation-duration: 5s;
	animation-timing-function: linear;
	/* animation-delay: 500ms; */
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes alternar__cor--diferenciais {
	0% {background-color: #BF66FF;}

	50% {background-color: #D580FF;}

	100% {background-color: #DD99FF;}
}

#sobre {
	animation-name: alternar__cor--sobre;
	animation-duration: 5s;
	animation-timing-function: linear;
	/* animation-delay: 500ms; */
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes alternar__cor--sobre {
	0% {background-color: #000D80;}

	50% {background-color: #0012B3;}

	100% {background-color: #0017E6;}
}

#planos {
	animation-name: alternar__cor--planos;
	animation-duration: 5s;
	animation-timing-function: linear;
	/* animation-delay: 500ms; */
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes alternar__cor--planos {
	0% {background-color: #00FFFF;}

	50% {background-color: #4DFFFF;}

	100% {background-color: #99FFFF;}
}

#institucional {
	animation-name: alternar__cor--institucional;
	animation-duration: 5s;
	animation-timing-function: linear;
	/* animation-delay: 500ms; */
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes alternar__cor--institucional {
	0% {background-color: #004D13;}

	50% {background-color: #00661A;}

	100% {background-color: #008020;}
}

#contatos {
	animation-name: alternar__cor--contatos;
	animation-duration: 5s;
	animation-timing-function: linear;
	/* animation-delay: 500ms; */
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes alternar__cor--contatos {
	0% {background-color: #1EB300;}

	50% {background-color: #33CC14;}

	100% {background-color: #55FF33;}
}