










#contatos {
	animation-name: alternar__cor--contatos;
	animation-duration: 5s;
	animation-timing-function: linear;
	/* animation-delay: 500ms; */
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes alternar__cor--contatos {
	0% {background-color: #1EB300;}

	50% {background-color: #33CC14;}

	100% {background-color: #55FF33;}
}

