:root {
	--corComum01: #000000;
	--corComum02: #FFFFFF;
	--cabecalhoCor01: #2C0066;
	--cabecalhoCor02: #e178f1;
	--chamadaCor01: #003D11;
	--chamadaCor02: #005719;
	--chamadaCor03: #0013BF;
	--chamadaCor04: #0016D9;
	--chamadaCor05: #3F0AC7;
	--chamadaCor06: #480BE0;
	--chamadaCor07: #B900D6;
	--chamadaCor08: #D000F0;
	--chamadaCor09: #BF66FF;
	--destaquesCor01: #22004D;
	--destaquesCor02: #390080;
	--destaquesCor03: #5000B3;
	--destaquesCor04: #B780FF;
	--diferenciaisCor01: #B780FF;
	--diferenciaisCor02: #C599FF;
	--diferenciaisCor03: #D4B3FF;
	--sobreCor01: #005E66;
	--sobreCor02: #007580;
	--sobreCor03: #008C99;
	--planosCor01: #19D9FF;
	--planosCor02: #66E5FF;
	--planosCor03: #80EAFF;
	--planosCor04: #00AACC;
	--planosCor05: #006A80;
	--planosCor06: #008AA6;
	--institucionalCor01: #0D4D00;
	--institucionalCor02: #116600;
	--institucionalCor03: #157F00;
	--contatosCor01: #1EB300;
	--contatosCor02: #33CC14;
	--contatosCor03: #55FF33;
	--rodapeCor01: #160033;
	--rodapeCor02: #e178f1;
	--parallaxCor01: #49BFBF;
	--fontLogotipo: 'Oldenburg', cursive, sans-serif;
	--fontTitulo: 'Audiowide', cursive, sans-serif;
	--fontComum: 'Varela Round', cursive, sans-serif;
}

body {
	font-family: var(--fontComum);
	font-size: calc(1rem + 1vw);
	line-height: 1.5rem;
}

.container {
	padding: 4rem 5vw;
}

.botao {
	display: block;
	box-sizing: border-box;
	font-size: calc(1rem + .3vw);
	text-align: center;
	width: fit-content;
	line-height: 1rem;
	border: 2px solid currentColor;
	border-radius: 2rem;
	padding: 1rem 2rem;
	margin: 0 auto;
}

/* ------------Versão Tablet------------ */
@media screen and (min-width: 768px) {
	body {
		font-size: calc(1rem + .4vw);
		line-height: 1.8rem;
	}

	.container {
		padding: 5rem 5vw;
	}

	.botao {
		font-size: calc(1rem + .2vw);
	}
}

/* ------------Versão Desktop------------ */
@media screen and (min-width: 1024px) {
	body {
		font-size: clamp(1rem, .5rem + 1.2vw, 2rem);
	}

	.container {
		padding-left: calc((100% - 940px)/2);
		padding-right: calc((100% - 940px)/2);
	}

	.botao {
		font-size: clamp(1rem, .5rem + 1vw, 2rem);
	}
}

