#cabecalho {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	color: var(--corComum02);
	background-color: var(--cabecalhoCor01);
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.cabecalho__titulo {
	font-family: var(--fontLogotipo);
	font-size: clamp(1.5rem, 1.5rem + 0.5vw, 2rem);
	color: var(--corComum02);
	font-weight: 800;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.cabecalho__navegacao {
	text-align: center;
}

.cabecalho__lista {
	display: flex;
	flex-direction: column;
	font-size: clamp(1rem, 1rem + .3vw, 1rem + 2vw);
	line-height: 1rem;
}

.cabecalho__link {
	display: inline-block;
	margin: .7rem;
}

/* ------------Versão Tablet------------ */
@media screen and (min-width: 768px) {
	#cabecalho {
		flex-direction: row;
		justify-content: space-between;
		padding-top: .5rem;
		padding-bottom: .5rem;
	}

	.cabecalho__lista {
		flex-direction: row;
		line-height: 0rem;
	}

	.cabecalho__link {
		font-size: clamp(.5rem, .5rem + .6vw, 1rem + 1vw);
		padding-top: .3rem;
	}
}

/* ------------Versão Desktop------------ */
@media screen and (min-width: 1024px) {
	.cabecalho__link {
		font-size: clamp(.5rem, .5rem + .9vw, .5rem + 3vw);
		transition-property: all;
		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;
	}

	.cabecalho__link:hover {
		color: var(--cabecalhoCor02);
		transform: scale(1.1);
	}
}

