.cabecalho {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	color: var(--branco);
	align-items: center;
	border-bottom: 1px solid var(--borda-cabecalho-mobile);
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.cabecalho__titulo {
	font-family: 'Oldenburg', cursive;
	font-size: clamp(1.5rem, 1.5rem + 0.5vw, 2rem);
	color: white;
	font-weight: 800;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.cabecalho__navegacao {
	text-align: center;
}

.cabecalho__lista{
	display: flex;
	flex-direction: column;
}

.cabecalho__link {
	display: inline-block;
	font-size: clamp(1rem, 1rem + .3vw, 1rem + 2vw);
	margin: .7rem;
}

/* -------Versão Tablet------- */
@media screen and (min-width: 768px) {
	.cabecalho {
		flex-direction: row;
		justify-content: space-between;
	}
	.cabecalho__lista{
		flex-direction: row;
	}

	.cabecalho__link{
		font-size: clamp(.5rem, .5rem + .6vw, 1rem + 1vw);
	}
}

/* -------Versão Desktop------- */
@media screen and (min-width: 1024px) {
	.cabecalho__link{
		font-size: clamp(.5rem, .5rem + .9vw, .5rem + 3vw);
	}
}

