.cabecalho {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	color: var(--branco);
	align-items: center;
	border-bottom: 1px solid var(--borda-cabecalho-mobile);
	padding-top: .75rem;
	padding-bottom: .75rem;
	margin-top: .5rem;
}

.cabecalho__titulo {
	font-family: 'Oldenburg', cursive;
	font-size: clamp(2rem, 2rem + .3vw, 3rem + 2vw);
	color: white;
	font-weight: 800;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.cabecalho__navegacao {
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.cabecalho__link {
	display: inline-block;
	font-size: clamp(1rem, 1rem + .3vw, 1rem + 2vw);
	margin-right: .7rem;
	margin-left: .7rem;
}

/* -------Versão Desktop------- */
@media screen and (min-width: 1024px) {
	.cabecalho {
		flex-direction: row;
		justify-content: space-between;
		border: none;
	}
}