#chamada {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
    text-align: center;
    padding-top: 24rem;
    padding-bottom: 4.6rem;
}

.chamada__titulo {
    font-family: var(--font-titulo);
    font-size: clamp(2rem, 5vw, 3.3rem);
    font-weight: 700;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.chamada__texto {
    line-height: 1.5rem;
    margin: 0 auto 2rem;
    font-size: clamp(.5rem, .5rem + 3vw, 1rem + 3vw);
}

.chamada__botao {
    width: 100%;
    padding: .5rem 2rem;
}

/* -------Versão Tablet------- */
/* @media print and = para dispositivos que não possuem tela, por exemplo, uma impressora.*/
@media screen and (min-width: 768px) {
    #chamada {
        padding-top: 11.5rem;
        padding-bottom: 7rem;
    }

    .chamada__texto {
        max-width: 600px;
        line-height: 1.8rem;
        font-size: clamp(1rem, 1rem + .6vw, 1rem + 4vw);
    }

    .chamada__botao {
        padding: 1rem 2rem;
    }
}

/* -------Versão Desktop------- */
@media screen and (min-width: 1024px) {
    #chamada {
        padding-top: 11.15rem;
        padding-bottom: 6.05rem;
    }
}