#contatos {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contatos__conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contatos__informacoes {
    width: 100%;
    margin-bottom: 2rem;
}

.contatos__titulo {
    font-family: var(--font-titulo);
    font-size: clamp(1rem, 1.7rem + 1vw, 3.3rem);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.contatos__item {
    text-align: left;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
}

.contatos__item:first-child {
    padding-top: 0rem;
}

.contatos__item:last-child {
    padding-bottom: 0rem;
}

.contatos__icone-localizacao {
    background-image: url(../img/localizacao.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.contatos__mapa-box {
    position: relative;
    background-color: black;
    padding-bottom: 56.25%;
    width: 100%;
}

.contatos__mapa {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100.07%;
    height: 100%;
}

/* -------Versão Tablet------- */
@media screen and (min-width: 768px) {
    #contatos {
        flex-direction: row;
        justify-content: space-between;
    }

    .contatos__conteudo {
        flex-direction: row;
    }

    .contatos__informacoes {
        margin-right: 20px;
        margin-bottom: 0;
        background-color: goldenrod;
    }

    .contatos__titulo {
        text-align: left;
    }

    .contatos__item {
        line-height: 1.4rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    .contatos__mapa-box {
        position: relative;
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
        padding-bottom: 0%;
    }

    .contatos__mapa {
        top: 2%;
        left: 1%;
        width: 98%;
        height: 96%;
    }
}

/* -------Versão Desktop------- */
@media screen and (min-width: 1024px) {
    .contatos__item {
        line-height: 2.75rem;    
    }

    .contatos__mapa {
        top: .9%;
        left: .51%;
        width: 99%;
        height: 98%;
    }
}