#destaques{
}

.destaques__titulo {
    color: #FFFFFF;
    font-family: var(--font-titulo);
    font-size: clamp(1rem, 1.7rem + 1vw, 3.3rem);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
}

.destaques__painel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.destaques__painel-imagem {
    width: 90vw;
    max-width: 600px;
    box-shadow: 8px 10px 12px 0px black;
    margin-bottom: 1rem;
}

.destaques__painel-texto {
    color: #FFFFFF;
    font-weight: 700;
}

.destaques__botao {
    color: #FFFFFF;
    border-color: currentColor;
    padding: .5rem 2rem;
    margin: 0 auto;
}

/* -------Versão Tablet------- */
@media screen and (min-width: 768px) {
    .destaques__botao {
        padding: 1rem 2rem;
    }
}

/* -------Versão Desktop------- */
@media screen and (min-width: 1024px) {
    .destaques__painel {
        filter: grayscale(100%);
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }

    .destaques__painel:hover {
        transform: scale(1.1);
        filter: saturate(110%);
    }
}