.destaques {
    background-color: var(--azul-claro);
}

.destaques__titulo {
    color: var(--cinza-escuro);
    font-family: var(--font-titulo);
    font-size: clamp(1rem, 1.5rem + 1vw, 3.3rem);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.destaques__painel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.destaques__painel-imagem {
    width: 90vw;
    max-width: 600px;
    box-shadow: 8px 10px 12px 0px black;
    margin-bottom: 1rem;
}

.destaques__painel-texto {
    font-weight: 700;
    line-height: normal;
}

.destaques__botao {
    color: var(--vermelho-forte);
    border-color: currentColor;
    margin: 0 auto;
}

/* -------Versão Tablet------- */
@media screen and (min-width: 768px) {
    .destaques__painel {
        filter: opacity(90%);       
    }

    .destaques__painel:hover {
        transform: scale(1.1);
        transition-duration: 1s;
        filter: opacity(100%) saturate(150%);
    }
}