.diferenciais{
    padding-bottom: 1rem;
}

.diferenciais__titulo {
	font-family: var(--font-titulo);
    font-size: clamp(1rem, 1.5rem + 1vw, 3.3rem);
	font-weight: 700;
	color: var(--cinza-escuro);
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.diferenciais__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.diferenciais__item{
    box-sizing: border-box;
    max-width: 350px;
    padding-left: 2rem;
    padding-bottom: 3rem;
    background-repeat: no-repeat;
    background-position: top 0rem left 0rem;
}

.diferenciais__item-tempo{
    background-image: url(../img/icone-relogio.png);
}

.diferenciais__item-foco{
    background-image: url(../img/icone-dinheiro.png);    
}

.diferenciais__item-especialistas{
    background-image: url(../img/icone-quimica.png);
}

.item__titulo{
    color: var(--cinza-escuro);
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}   

.item__texto{
    line-height: 1.5rem;
    text-align: left;
}

/* -------Versão Tablet------- */
@media screen and (min-width: 768px){
    .diferenciais__item{
        padding-left: 5rem;
        background-position: top 0rem left 2.5rem;
    }  

    .item__texto{
        line-height: 1.8rem;
    }    
}

/* -------Versão Desktop------- */
@media screen and (min-width: 1024px) {
    .diferenciais{
        background-color: var(--cinza-claro);
    }

    .diferenciais__lista{
        justify-content: space-around;
    }    
}


