#institucional {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	animation-name: alternar__cor--institucional;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes alternar__cor--institucional {
	0% {
		background-color: var(--institucionalCor01);
	}

	50% {
		background-color: var(--institucionalCor02);
	}

	100% {
		background-color: var(--institucionalCor03);
	}
}

.institucional__conteudo {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.institucional__informacoes {
	width: 100%;
	margin-bottom: 2rem;
}

.institucional__titulo {
	/* animaçao oriunda da biblioteca https://animate.style */
	animation-name: flipInX;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	color: var(--corComum02);
	font-family: var(--fontTitulo);
	font-size: clamp(1rem, 1.7rem + 1vw, 3.3rem);
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2.5rem;
}

.institucional__texto {
	color: var(--corComum02);
	text-align: center;
	background-repeat: no-repeat;
	background-position: left top 0.2rem;
	padding-left: 2rem;
}

.institucional__icone--foguete {
	background-image: url(../img/icone-foguete.png);
}

.institucional__videoBox {
	position: relative;
	background-color: var(--corComum01);
	padding-bottom: 56.25%;
	width: 100%;
}

.institucional__video {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100.07%;
	height: 100%;
}

/* ------------Versão Tablet------------ */
@media screen and (min-width: 768px) {
	#institucional {
		flex-direction: row;
		justify-content: space-between;
	}

	.institucional__conteudo {
		flex-direction: row;
	}

	.institucional__informacoes {
		margin-right: 3rem;
		margin-bottom: 0;
	}

	.institucional__titulo {
		text-align: left;
		margin-bottom: 2rem;
	}

	.institucional__texto {
		text-align: justify;
		line-height: 1.4rem;
		background-position: left top 0.2rem;
	}

	.institucional__videoBox {
		border: 1px solid var(--corComum01);
		border-radius: 5px;
		padding-bottom: 0%;
	}

	.institucional__video {
		top: 0%;
		left: 2.5%;
		width: 95%;
		height: 100%;
	}
}

/* ------------Versão Desktop------------ */
@media screen and (min-width: 1024px) {
	.institucional__texto {
		line-height: 2.5rem;
		background-position: left top 0.7rem;
	}

	.institucional__video {
		opacity: 0.7;
		transition-property: all;
		transition-duration: 1s;
		transition-timing-function: linear;
		top: 0%;
		left: 1.52%;
		width: 97%;
		height: 100%;
	}

	.institucional__video:hover {
		opacity: 1;
	}
}