.planos__titulo {
	color: var(--cinza-escuro);
	font-weight: 700;
	font-family: var(--font-titulo);
	font-size: clamp(1rem, 1.5rem + 1vw, 3.3rem);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2rem;
}

.planos__cartoes {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cartao {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 300px;
	border-radius: 2rem;
	box-shadow: 0px 0px 10px 5px #00000030;
	padding: 1.5rem 0rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 2rem;
}

.cartao:last-of-type {
	margin-bottom: 0rem;
}

.cartao__titulo {
	font-size: clamp(1rem, 1rem + .2vw, 1rem + 2vw);
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.cartao__conteudo {
	padding-left: 7%;
	padding-right: 7%;
}

.cartao__preco {
	font-weight: 700;
	font-size: clamp(1rem, 1rem + .2vw, 1rem + 2vw);
	text-align: center;
	margin-top: .7rem;
	margin-bottom: .7rem;
}

.cartao__texto {
	color: var(--fonte-cinza);
	line-height: 1.5rem;
	text-align: center;
}

.cartao__botao {
	font-weight: 700;
	width: 100%;
	align-self: center;
	padding: .5rem 2rem;
	margin-top: .7rem;
}

.cartao-start {
	color: var(--planos-cartao-start);
}

.cartao-ultra {
	color: var(--planos-cartao-ultra);
}

.cartao-mega {
	color: var(--planos-cartao-mega);
}

.cartao__botao-start {
	border-color: var(--planos-cartao-start);
}

.cartao__botao-ultra {
	border-color: var(--planos-cartao-ultra);
}

.cartao__botao-mega {
	border-color: var(--planos-cartao-mega);
}

/* -------Versão Tablet------- */
@media screen and (min-width: 768px) {
	.cartao {
		max-width: 400px;
	}

	.cartao__titulo {
		font-size: clamp(1rem, 1rem + .7vw, 1rem + 2vw);
	}

	.cartao__preco {
		font-size: clamp(1rem, 1rem + .7vw, 1rem + 2vw);
		margin-bottom: 1rem;
	}

	.cartao__texto {
		line-height: 1.8rem;
	}

	.cartao__botao {
		padding: 1rem 2rem;
		margin-top: 1.5rem;
	}
}

/* -------Versão Desktop------- */
@media screen and (min-width: 1024px) {
	.planos__cartoes {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
	}

	.cartao {
		margin-bottom: 0rem;
	}

	.cartao:first-child{
		margin-left: 0rem;
	}

	.cartao:last-child{
		margin-right: 0rem;
	}
}