#planos {
	animation-name: alternar__cor--planos;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes alternar__cor--planos {
	0% {
		background-color: var(--planosCor01);
	}

	50% {
		background-color: var(--planosCor02);
	}

	100% {
		background-color: var(--planosCor03);
	}
}

.planos__titulo {
	/* animaçao oriunda da biblioteca https://animate.style */
	animation-name: flipInX;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	font-weight: 700;
	font-family: var(--fontTitulo);
	font-size: clamp(1rem, 1.7rem + 1vw, 3.3rem);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2.5rem;
}

.planos__cartoes {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cartao {
	display: flex;
	flex-direction: column;
	color: var(--corComum02);
	width: 100%;
	max-width: 300px;
	border-radius: 2rem;
	box-shadow: 8px 8px 20px -2px var(--corComum01);
	padding: 1.5rem 0rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 2rem;
}

.cartao:last-of-type {
	margin-bottom: 0rem;
}

.cartao--start {
	background-color: var(--planosCor04);
}

.cartao--ultra {
	background-color: var(--planosCor05);
}

.cartao--mega {
	background-color: var(--planosCor06);
}

.cartao__titulo {
	/* animaçao oriunda da biblioteca https://animate.style */
	animation-name: pulse;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	font-size: clamp(1rem, 1rem + .2vw, 1rem + 2vw);
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}

.cartao__conteudo {
	padding-left: 7%;
	padding-right: 7%;
}

.cartao__preco {
	font-size: clamp(1rem, 1rem + .2vw, 1rem + 2vw);
	font-weight: 900;
	text-align: center;
	margin-top: .7rem;
	margin-bottom: .7rem;
}

.cartao__texto {
	line-height: 1.5rem;
	text-align: center;
}

.cartao__botao {
	font-weight: 700;
	width: 100%;
	align-self: center;
	padding: .5rem 2rem;
	margin-top: .7rem;
}

/* ------------Versão Tablet------------ */
@media screen and (min-width: 768px) {
	.planos__titulo {
		margin-bottom: 3rem;
	}

	.cartao {
		max-width: 400px;
	}

	.cartao__titulo {
		font-size: clamp(1rem, 1rem + .7vw, 1rem + 2vw);
	}

	.cartao__preco {
		font-size: clamp(1rem, 1rem + .7vw, 1rem + 2vw);
		margin-bottom: 1rem;
	}

	.cartao__texto {
		line-height: 1.8rem;
	}

	.cartao__botao {
		padding: 1rem 2rem;
		margin-top: 1.5rem;
	}
}

/* ------------Versão Desktop------------ */
@media screen and (min-width: 1024px) {
	.planos__cartoes {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
	}

	.cartao {
		margin-bottom: 0rem;
	}

	.cartao:first-child {
		margin-left: 0rem;
	}

	.cartao:last-child {
		margin-right: 0rem;
	}

	.cartao__botao {
		transition-property: all;
		transition-duration: 0.7s;
		transition-timing-function: ease-in-out;
	}

	.cartao__botao--start:hover {
		background-color: var(--planosCor01);
		border-color: var(--planosCor01);
		color: var(--corComum01);
	}

	.cartao__botao--ultra:hover {
		background-color: var(--planosCor03);
		border-color: var(--planosCor03);
		color: var(--corComum01);
	}

	.cartao__botao--mega:hover {
		background-color: var(--planosCor02);
		border-color: var(--planosCor02);
		color: var(--corComum01);
	}
}

