.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-rodape);
}

.rodape__titulo {
    font-family: 'Oldenburg', cursive;
    font-size: clamp(1.5rem, 1.5rem + 0.5vw, 2rem);
    color: white;
    font-weight: 800;
    padding-bottom: 1rem;
}

.rodape__social {
    display: flex;
}

.rodape__midia {
    display: block;
    width: 42px;
    height: 42px;
    margin: 2rem 1rem;
}

.rodape__lista {
    color: var(--branco);
    text-align: center;
    font-size: clamp(1rem, 1rem + .3vw, 1rem + 2vw);
}

.rodape__link {
    display: inline-block;
    margin-top: .7rem;
    margin-bottom: .7rem;
    margin-right: .5rem;
    margin-left: .5rem;
}

.rodape__link:last-child {
    margin-bottom: 0rem;
}

/* -------Versão Tablet------- */
@media screen and (min-width: 768px) {
    .rodape__link {
        line-height: normal;
        margin-bottom: 0rem;
    }
}