.sobre__conteudo:nth-child(6) {
	margin-bottom: 0rem;
}

.sobre__titulo {
	color: #FFFFFF;
	font-family: var(--font-titulo);
	font-size: clamp(1rem, 1.7rem + 1vw, 3.3rem);
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2.5rem;
}

.sobre__texto {
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 1rem;
}

.sobre__texto:last-child{
	margin-bottom: 0rem;
}

.sobre__texto--destaque {
	font-weight: 700;
}

.sobre__plataformas {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.sobre__icone {
	filter: drop-shadow(3px 4px 1px gray);
	width: clamp(1rem, 1rem + 1.5vw, 1rem + 5vw);
}

.sobre__imagem {
	display: none;
}

/* -------Versão Tablet------- */
@media screen and (min-width: 768px){
	.sobre__titulo{
		margin-bottom: 3rem;
	}
}

/* -------Versão Desktop------- */
@media screen and (min-width: 1024px) {
	#sobre {
		display: flex;
	}

	.sobre__conteudo {
		margin-right: 3rem;
	}

	.sobre__titulo {
		text-align: left;
	}

	.sobre__texto {
		text-align: justify;
	}

	.sobre__imagem {
		display: inline-block;
		box-shadow: 8px 10px 12px 0px black;
		height: 412px;
	}
}